.estates {
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 3px;
}

.estate {
  width: 130px;
  height: 108px;

  font-size: 0.9em;
  position: relative;

  &__border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid #6cb4d5d4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__letter {
    font-weight: bold;
    font-size: 1.7em;
    color: white;
    background-color: #6cb4d5a3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 130px;
    height: 70px;
  }

  &__description {
    padding: 0.2em 0.2em;
    margin: 0;
    font-size: 0.6em;
  }
}
